body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--body-text-color);
    background: url("/img/preview.jpg") no-repeat center top / cover;
    background-color: gray;
    background-blend-mode: multiply;
    display: grid;
        grid-template-rows: 0.25fr 1fr 0.5fr;
        grid-template-areas: 
        "header"
        "about"
        "search-form"
        "footer";
}
